
#chatArea
{ 
  text-align:left;
  height:300px;
  width:80%;
  border:1px solid black;
  border-radius:5px;
  background-color:rgb(240,240,240);
  margin-left:auto;
  margin-right:auto;
  font-size:24px;
  overflow-y:scroll;
}

.chatRow
{ 
  display:inline;
}

.nicknameString
{ 
  color:#AAA;
  display:inline;
  margin-left:5px;
}
.messageString
{
  display:inline;  
  margin-left:5px;
}

#inputBlanket
{ 
  margin-top:10px;
}