/******
 * Main css file for Simple Chat
 * 
 * @author Per-Henrik Kvalnes
 ************************************/
@font-face
{ 
  font-family:"Animated";
  src:url("Animated.ttf");
}

body
{ 
  background-color:#301A73;
  font-family:"Animated";
  text-align:center;
}

.redText
{ 
  color:#FF8888;
}

input
{ 
  font-size:25px;
  background-color:#DDDDFF;
  border-radius:5px;
  border:1px solid black;
  font-family:"Animated";
}
input:hover
{ 
  background-color:#CCCCEE;
}
.blanket
{ 
  background-color:#FFF;
  margin:50px;
  padding:20px;
  border-radius:10px;
}

.mainH1
{ 
  color:#FFF;
}

